<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head profile="http://gmpg.org/xfn/11">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= h(page_title) %></title>
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.min.css", "/stylesheets/theme/style.css", :media => 'all' %>  
  <%= page_header %>
  <style type="text/css">
	
  </style>
</head>
<body>


  <div class="row-fluid">
    <div class="span4">
	<div id="head_image" class='sidenav'>
		<p style="float: left;"><img src="/images/colm.jpg" height="200px" width="200px" border="1px"></p>
	</div>	

	<div id="head_menu" class='sidenav'>

		<a href="http://colm.mde.ie/" target="_self">Home</a>
		<br>
		<br>
		<a href="http://colm.mde.ie/Contact" target="_self,">Contact</a>
		<br>
		<br>
		<a href="http://bitbucket.org/colmragu/" target="_blank">Git</a>
		</div>
    </div>
   
    <div class="span8">
	<div id='page' class='container'>
     
            <div class='span8'>
              <%= yield %>
            </div>
  
	</div>
     </div>
  </div>

</body>
</html>
