body {
  background: #ccc url("../../images/theme/background.gif");
}

#logo h1, p#title {
  font-size: 30px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 0;
}

p.subtitle {
  font-weight: 300;
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 27px;
  text-rendering: optimizelegibility;
}

#logo {
  margin-top: 20px;
  padding-top: 290px;
}

#external {
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

#main {
  box-shadow : 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.9) inset;
  border-radius: 5px;
  margin: 30px auto 20px auto;
  padding-top: 60px;
  padding-bottom: 30px;
  background: #fff;
}

#head_image{ 	   
	    padding:top:13px;
	    margin-top:9.8%; 
	    margin-left:9.8%;
		}

#head_menu{
       	    margin-top:60.42%;
	    margin-left:72.2%;
}

#page {
  margin-bottom: 40px;
}

.navbar-inner {
  border-radius: 0;
}

#sidebar {
  font-size: 90%;
  margin-top: 24px;
 
}

img.centered, img.alignleft, img.alignright, img.thumb {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    line-height: 1;
    padding: 4px;
}

.navbar-inverse .navbar-inner {
        background-image: url("/images/theme/header-menu.png");
        
}

.navbar .nav > li {
border-left: 1px solid #111111;
    border-right: 1px solid #444444;
}

.navbar .nav > li > a {
        color: #eee;
        padding: 8px 10px;
}
